.paginationContainer {
  width: auto;
  margin: 0.5vw auto 0.3vw auto;
  display: flex;
  list-style-type: none;
}

.item {
  height: 1vw;
  text-align: center;
  margin: auto 0.2vw;
  display: flex;
  flex-flow: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  min-width: 1.4vw;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease-out;
  gap: 0 0.4vw;
}

.item:first-child {
  margin-right: 1.2rem;
}

.item:last-child {
  margin-left: 1.4rem;
}

.item:not(.selected, .disabled, .dots):hover {
  color: hsla(var(--gray-600));
}

.item.selected {
  color: hsla(var(--blue-400));
  font-weight: 700;
}

.item.dots {
  cursor: default;
}

.item.disabled {
  color: hsla(var(--gray-500), 0.5);
  cursor: not-allowed;
}
