ENVIRONMENT=production
TAG=latest
DUMP_DIR=~/db-dumps
PUBLIC_HTML_DIR=~/html
OTR_WEB_DIR=~/otr-web
DB_PORT=5432
DB_CONTAINER=otr-prod-db
DB_USER=postgres
DB_NAME=postgres
DB_PASSWORD=password
GCS_TEST_BUCKET=test-bucket-name
GCS_DEV_BUCKET=otr-dev-replica
GCS_PUBLIC_BUCKET=otr-public-replica
GCS_PROD_BUCKET=otr-prod-dumps
GCS_SA_JSON_PATH=/path/to/service-account/key.json
RABBITMQ_URL=amqp://admin:admin@localhost:5672
# Optional, defaults shown
TEMPLATE_DB_CONTAINER=otr-template-db
TEMPLATE_DB_PORT=5434
TEMPLATE_DB_USER=postgres
TEMPLATE_DB_PASSWORD=postgres
