.container {
  max-width: 10rem;
  min-width: 10rem;
  position: relative;
}

.button {
  --padding: 0.9rem 1.2rem;
  max-width: 10rem;
  min-width: 10rem;
  height: fit-content;
  padding: var(--padding);
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  user-select: none;
  gap: var(--padding);
}

.text {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon {
  margin-left: auto;
}

.canChange {
  cursor: pointer;
}

.dropdown {
  --width: 110%;
  width: var(--width);
  position: absolute;
  z-index: 5;
  background-color: hsla(var(--background-content-hsl));
  padding: 1.1rem;
  display: flex;
  flex-flow: column;
  border-radius: 0.8rem;
  gap: 0.7rem;
  margin-top: 0.3rem;
  left: calc((100% - var(--width)) / 2);
  box-shadow: 0px 12px 25px 0px hsla(0, 0%, 0%, 0.1);
}

[data-theme='dark'] .dropdown {
  box-shadow: 0px 12px 25px 0px hsla(0, 0%, 15%, 0.1);
}

.dropdown .item {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-out;
}

.dropdown .item:hover {
  color: hsla(0, 0%, 0%, 0.7);
}

[data-theme='dark'] .dropdown .item:hover {
  color: hsl(0, 0%, 75%);
}
