.git
.github
.vscode
.husky
node_modules
.bun
.bun_tmp
.tmp
.next
apps/web/.next
apps/web/.turbo
apps/web/out
bun.lockb
*.log
*.tsbuildinfo
.env
.env.*
.DS_Store
npm-debug.log
yarn-error.log
coverage
