# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.vscode/

# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage/
playwright-report/
test-results/

# next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.pem
.tmp/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
**/next-env.d.ts

# jetbrains
.idea/

# Other
.aider*
.cursor/
remove-local-link.sh
setup-local-link.sh
**/dist/
monitoring/loki/data/
.playwright-mcp/

# top-level images (playwright mcp)
*.png