.card {
  width: 100%;
  background-color: hsla(var(--gray-100));
  border-radius: var(--main-borderRadius);
  padding: 1.5rem 2rem;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.card h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

.card p {
  font-size: 1rem;
  line-height: 1.5rem;
}
