.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.9rem;
  gap: 10px;
  table-layout: fixed;
}

.table th {
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.table th svg {
  margin: 0 0 0 0.4rem;
  vertical-align: -0.18rem;
}

.table thead th:first-child {
  text-align: left;
  padding-left: 2rem;
}

.table thead th:last-child {
  text-align: right;
  padding-right: 2rem;
}

.table tbody td {
  padding: 1.2rem 2rem;
  background-color: hsla(var(--background-content-childs-hsl));
  text-align: center;
  height: 3.7rem;
}

.table th:nth-child(1) {
  width: 50%;
}

.table tbody td:first-child {
  text-align: left;
}

.table tbody td:last-child {
  text-align: right;
}

.table tbody td.status {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  align-items: center;
}

.table tbody tr > td:first-child {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.table tbody tr > td:last-child {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.table tbody td:has(.rulesetIcon) {
  padding: 0 2rem;
}

.rulesetIcon {
  aspect-ratio: 1;
  height: 1.5rem;
  width: 1.5em;
  border-radius: 50vw;
  margin: auto;
  position: relative;
}

.gridList {
  display: flex;
  flex-flow: column;
  gap: 0.8rem;
}

.gridList .row {
  display: grid;
  grid-template-columns: 50% 6% 6% 25% 13%;
  text-align: center;
  /* height: 3.7rem; */
  border-radius: 0.4rem;
  align-items: center;
  font-size: 1rem;
  padding: 1.2rem 2rem;
  background-color: hsla(var(--background-content-childs-hsl));

  &:first-child {
    padding: 0.6rem 2rem 0.4rem 2rem;
    background-color: transparent;
    font-weight: 600;
  }

  & > :not(:only-child) {
    width: 100%;
  }

  & > :first-child {
    margin-right: auto;
    text-align: left;
  }

  & > :last-child {
    margin-left: auto;
    text-align: right;
  }
}

.infoName {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;

  & .status {
    width: 0.5rem;
    height: 0.5rem;
    aspect-ratio: 1;
    border-radius: 50vh;

    &.verified {
      background-color: hsla(var(--status-circle-verified));
    }

    &.preverified {
      background-color: hsla(var(--status-circle-preverified));
    }

    &.rejected {
      background-color: hsla(var(--status-circle-rejected));
    }
  }

  & .name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
