.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'nav content';
  gap: var(--main-padding);
}

.leftNavigationContainer {
  width: fit-content;
  height: min-content;
  grid-area: nav;
  position: sticky;
  top: var(--main-padding);
}

.navigation {
  width: 100%;
  height: fit-content;
  padding: 1.8rem 1.2rem;
  background-color: hsl(var(--background-content-hsl));
  border-radius: var(--main-borderRadius);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}

.navigation > svg {
  height: 1.6rem;
  width: auto;

  &.active {
    fill: hsl(var(--accent-color));
    stroke: hsl(var(--accent-color));
    stroke-width: 0.06rem;
  }
}

.content {
  display: flex;
  flex-flow: column;
  gap: var(--internal-gap);
  background-color: hsl(var(--background-content-hsl));
  border-radius: var(--main-borderRadius);
  padding: var(--main-padding);
  grid-area: content;
}

.content .title {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-align: left;
}
