.container {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.container h1 {
  font-size: 2em;
}

.infoContainer {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem 2rem;
  margin: 0.5rem 0;
}

.container a {
  transition: all 0.2s ease-out;
}

.container a:hover {
  color: hsl(var(--foreground-hsl), 0.8);
}

.container a:active {
  color: hsl(var(--accent-color));
}

.field {
  width: 100%;
  display: flex;
  flex-flow: row;
  gap: 1rem;
}

.field .value {
  font-weight: 600;
}
