.scoreContainer {
  --border-radius: 0.5rem;
  --grid-column: span 2;
  --text-align: left;
  --team-color: 0, 0%, 20%;
  --team-color-size: 0.3rem;

  display: grid;
  grid-template-columns: var(--team-color-size) 1fr;
  grid-template-areas: 'teamColor info';
  border-radius: var(--border-radius);
  border: 1px solid hsl(var(--player-score-border-color));
  width: 100%;
  text-align: var(--text-align);
  grid-column: var(--grid-column);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 0.4rem 50%;
  position: relative;
  transition: grid-template-columns 0.12s ease-out;

  &:hover {
    --team-color-size: 0.5rem;
  }

  &[aria-team='NoTeam'] {
    --text-align: left;
    --grid-column: span 2;
    --team-color: #333;

    & .propic {
      left: 0;
      right: unset;
      -webkit-mask-image: linear-gradient(
        to right,
        hsl(0, 0%, 0%, 0.4) 10%,
        transparent
      );
      mask-image: linear-gradient(
        to right,
        hsl(0, 0%, 0%, 0.4) 0%,
        hsl(0, 0%, 0%, 0.25) 45%,
        transparent
      );
    }

    & .column .row {
      flex-flow: row;

      & .playerInfo {
        flex-flow: row;
      }

      & .scoreInfo {
        flex-flow: row;
      }
    }
  }

  &[aria-team='Red'] {
    --text-align: left;
    --grid-column: 1;
    --team-color: var(--team-red-color);

    grid-template-columns: var(--team-color-size) 1fr;
    grid-template-areas: 'teamColor info';

    & .propic {
      left: 0;
      right: unset;
      -webkit-mask-image: linear-gradient(
        to right,
        hsl(0, 0%, 0%, 0.4) 10%,
        transparent
      );
      mask-image: linear-gradient(
        to right,
        hsl(0, 0%, 0%, 0.4) 0%,
        hsl(0, 0%, 0%, 0.25) 45%,
        transparent
      );
    }

    & .column .row {
      flex-flow: row;

      & .playerInfo {
        flex-flow: row;
      }

      & .scoreInfo {
        flex-flow: row;
      }
    }
  }

  &[aria-team='Blue'] {
    --text-align: right;
    --grid-column: 2;
    --team-color: var(--team-blue-color);

    grid-template-columns: 1fr var(--team-color-size);
    grid-template-areas: 'info teamColor';

    & .propic {
      left: unset;
      right: 0;
      -webkit-mask-image: linear-gradient(
        to left,
        hsl(0, 0%, 0%, 0.4) 10%,
        transparent
      );
      mask-image: linear-gradient(
        to left,
        hsl(0, 0%, 0%, 0.4) 0%,
        hsl(0, 0%, 0%, 0.25) 45%,
        transparent
      );
    }

    & .column .row {
      flex-flow: row-reverse;

      & .playerInfo {
        flex-flow: row-reverse;
      }

      & .scoreInfo {
        flex-flow: row-reverse;
      }
    }
  }

  & .propic {
    position: absolute;
    top: 50%;
    left: 0;
    right: unset;
    transform: translateY(-50%) scale(1);
    width: 40%;
    aspect-ratio: 1;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    -webkit-mask-image: linear-gradient(
      to right,
      hsl(0, 0%, 0%, 0.4) 10%,
      transparent
    );
    mask-image: linear-gradient(
      to right,
      hsl(0, 0%, 0%, 0.4) 0%,
      hsl(0, 0%, 0%, 0.25) 45%,
      transparent
    );
    transition: transform 0.16s ease-out;
  }

  & .backgroundColor {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--team-color), 0.1);
    z-index: 2;
  }

  & .teamColor {
    height: 100%;
    width: 100%;
    grid-area: teamColor;
    background-color: hsl(var(--team-color));
    z-index: 3;
  }

  & .column {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    grid-area: info;
    z-index: 3;
    padding: 0 0.5rem;

    & .row {
      width: 100%;
      flex: 1;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;

      & .playerInfo {
        height: 100%;
        width: fit-content;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
      }

      & .country {
        height: 46%;
        aspect-ratio: 70/47;
        position: relative;
      }

      & .name {
        font-weight: 600;
        font-size: 1.1rem;
      }

      & .scoreInfo {
        display: flex;
        flex-flow: row;
        gap: 0.6rem;
        height: 100%;
        align-items: center;
        justify-content: center;

        & .score {
          font-size: 1.18rem;
          font-weight: 650;
          color: color-mix(
            in oklab,
            hsl(var(--foreground-hsl)) 60%,
            hsl(var(--team-color)) 40%
          );
          font-variant-numeric: tabular-nums;
          letter-spacing: -0.063rem;
        }

        & .modsContainer {
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: flex-end;
          max-width: 10rem;
          height: 100%;

          & .mod {
            height: 100%;
            max-height: 1.8rem;
            position: relative;
            aspect-ratio: 60/45;
            filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
            transition: margin-left 0.2s ease-out;

            &:not(:first-child) {
              margin-left: -1.2rem;
            }
          }

          &:hover {
            & :not(:first-child) {
              margin-left: -0.6rem;
            }
          }
        }
      }
    }
  }
}

.scoreContainer:hover {
  &[aria-team='Red'] .propic {
    transform: translateY(-50%) translateX(0.4rem) /* scale(1.02) */;
  }

  &[aria-team='Blue'] .propic {
    transform: translateY(-50%) translateX(-0.4rem) /* scale(1.02) */;
  }
}
