.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}

.rangeValues {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.rangeValues .value {
  height: 2.4rem;
  width: 6.5rem;
  border: 1px solid hsl(var(--gray-600));
  border-radius: 0.4rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  /* if use input tag */
  background-color: transparent;
  text-align: center;
  font-family: var(--font-families);
  position: relative;
}

/* IF USE INPUT TAG */

.value::-webkit-outer-spin-button,
.value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.value[type='number'] {
  -moz-appearance: textfield;
}

.winrate {
  position: relative;
  display: block;
}

.winrate::after {
  content: '%';
  position: absolute;

  display: block;
  height: 100%;
  top: 0;
  right: 20px;
  line-height: 2.4rem;
}

/* RANGE SLIDER */

.rangeContainer {
  --range-height: 1.5rem;
  height: var(--range-height);
  display: flex;
  width: 100%;
  padding: 0 0.77rem;
}

.rangeTrack {
  height: 1px;
  width: 100%;
  border-radius: 50vh;
  align-self: center;
}

.rangeSelector {
  height: var(--range-height);
  width: var(--range-height);
  aspect-ratio: 1;
  border-radius: 50vh;
  background-color: hsl(var(--gray-100));
  border: 1px solid hsl(var(--gray-600));
  display: flex;
  justify-content: center;
  align-items: center;
}
