.form {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 2.2rem;
}

.form :is(input, select, textarea, button) {
  width: 100%;
  background-color: hsla(var(--background-content-hsl));
  border: 1px solid hsla(var(--gray-500));
  border-radius: 5px;
  font-family: var(--font-families);
  padding: 0.8rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  resize: none;
}

.form :is(input:is(:not([type='checkbox'])), select, button) {
  height: 3.2rem;
}

.form :is(input, textarea)::placeholder {
  font-weight: 500;
  color: hsla(var(--gray-600));
}

.form input[type='checkbox'] {
  width: fit-content;
  margin-top: 3px;
  cursor: pointer;
}

.form input[type='checkbox'] + span {
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
}

.form label {
  font-size: 1.2rem;
  font-weight: 600;
}

.form button {
  border: 0;
  background-color: hsla(var(--blue-400));
  color: #222;
  transition: all 0.2s ease-out;
}

.form button:hover {
  cursor: pointer;
  background-color: hsla(var(--blue-500), 0.8);
  transition: all 0.2s ease-out;
}

.form button:is(:disabled, [aria-disabled='true']) {
  background-color: hsla(var(--gray-300), 0.8);
  cursor: not-allowed;
}

.form button span[aria-saving='true'] {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #000 94%, #0000) top/4px 4px no-repeat,
    conic-gradient(#0000 30%, #000);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: l13 1s infinite linear;
  margin: auto;
  display: inline-block;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
