.container {
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-flow: column;
  gap: 0.6em 0;
}

.tiers {
  display: flex;
  flex-flow: row;
  width: 100%;
  gap: 1.4em;
  align-items: center;
}

.tier {
  width: 16em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tier::before {
  font-weight: 400;
  position: absolute;
  bottom: 0.6em;
  font-size: 1.6em;
  color: hsla(var(--tier-bar-background));
}

.tier:first-child:before {
  content: 'III';
}

.tier:nth-child(2):before {
  content: 'II';
}

.tier:nth-child(3):before {
  content: 'I';
}

.tier .bar {
  width: 100%;
  height: 0.5em;
  border-radius: 50vh;
  overflow: hidden;
  background-color: hsla(var(--tier-bar-background), 0.4);
}

.bar .currentProgress {
  height: 100%;
  border-radius: 50vh;
  background-color: hsla(var(--tier-bar-accent));
}

.nextRank {
  width: 2em;
  height: 2em;
  aspect-ratio: 1;
  background: linear-gradient(225deg, #4c94ff 0%, #216bda 100%);
  border-radius: 50vh;
}

.container .text {
  flex: 1;
  font-size: 1.2rem;
}

.container .text span {
  font-weight: 600;
}
