.formContainer {
  display: flex;
  flex-flow: column;
  padding: 1.5rem;
  width: 100%;
  height: fit-content;
  grid-area: form;
  background-color: hsla(var(--gray-100));
  border-radius: var(--main-borderRadius);
}

.section {
  display: flex;
  flex-flow: column;
  gap: var(--internal-gap);
}

.header {
  display: flex;
  flex-flow: column;
  gap: 0.7rem;
}

.header h1 {
  width: fit-content;
  font-weight: 600;
  display: flex;
  flex-flow: row;
  max-height: 2.05rem;
  font-size: 2.05rem;
  gap: 1rem;
}

.header p {
  color: hsla(var(--gray-500), 0.65);
  font-size: 1rem;
  line-height: 1.3rem;
}

.fields {
  display: flex;
  flex-flow: column;
  gap: 1.8rem;
}

.fields .row {
  width: 100%;
  display: flex;
  flex-flow: row;
  position: relative;
  align-items: center;
  gap: 1rem;
}

.row .field {
  display: flex;
  flex-flow: column;
  width: 100%;
  gap: 10px;
}

.field label {
  display: flex;
  flex-flow: row;
  max-height: 24px;
  gap: 1rem;
}

.field label svg {
  padding: 0.08rem;
}

.field #gamemode {
  max-width: 30%;
}

.field#tournamentAbbreviation {
  width: 65%;
}

.field #teamsize {
  max-width: fit-content;
}

.fields .row.checkbox {
  align-items: flex-start;
}

.field .inputError {
  color: hsla(var(--red-600));
  font-weight: 500;
  font-size: 0.8rem;
}

.field .inputError:empty {
  display: none;
}
