.navbar {
  border-radius: var(--main-borderRadius);
  padding: 1rem 1.5rem;
  background-color: hsla(var(--background-content-hsl));
  margin-bottom: var(--main-padding);
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: clamp(0.5rem, 1.25rem, 1.25rem);
  font-weight: 500;
  gap: 2rem;
}

.content {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.routes {
  display: flex;
  flex-flow: row;
  gap: 2rem;
}

.content a {
  color: hsla(var(--foreground-inactive-hsl));
  transition: color 0.2s ease-out;
}

.content a:hover {
  color: hsla(var(--foreground-active-hsl));
}

.content a.active {
  color: hsla(var(--foreground-active-hsl));
  font-weight: 600;
}

.actions {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 2rem;
  height: 1.9rem;
}

.actions button {
  height: fit-content;
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.iconContainer {
  margin-top: 12px;
}
.logoLink,
.actions .userPropic {
  height: 1.9rem;
  width: 1.9rem;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.logoLink svg {
  fill: hsla(var(--accent-color));
}

.actions > *:has(svg) > svg {
  stroke: hsla(var(--foreground-inactive-hsl));
  transition: stroke 0.2s ease-out;
}
.actions > *:has(svg) > svg:hover {
  stroke: hsla(var(--foreground-active-hsl));
}

@media (max-width: 1040px) {
  .content {
    display: none;
  }
}
