.statusCircle {
  width: 0.5rem;
  height: 0.5rem;
  aspect-ratio: 1;
  border-radius: 50vh;
  background-color: hsla(var(--status-circle-pending));

  &.PreVerified {
    background-color: hsla(var(--status-circle-verified));
  }

  &.Verified {
    background-color: hsla(var(--status-circle-verified));
  }

  &.PreRejected {
    background-color: hsla(var(--status-circle-rejected));
  }

  &.Rejected {
    background-color: hsla(var(--status-circle-rejected));
  }
}
