@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme {
  --color-warning: var(--color-yellow-400);

  /* Verification status color alias */
  --color-status-pending: var(--color-warning);
  --color-status-rejected: var(--color-red-500);
  --color-status-verified: var(--color-green-500);
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0, 0%, 5%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0, 0%, 5%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0, 0%, 5%);
  --primary: hsl(221, 100%, 61%);
  --primary-foreground: hsl(210 40% 98%);
  --secondary: hsl(210 40% 96.1%);
  --secondary-foreground: hsl(0, 0%, 31%);
  --muted: hsl(210 40% 96.1%);
  --muted-foreground: hsl(0, 0%, 57%);
  --accent: hsl(210, 23%, 95%);
  --accent-foreground: hsl(222.2 47.4% 11.2%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 40% 98%);
  --border: hsl(214.3 31.8% 91.4%);
  --input: hsl(214.3 31.8% 91.4%);
  --ring: hsl(221.2 83.2% 53.3%);
  --radius: 0.3rem;
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);

  --score-performance-label: hsl(51 60% 55%);
  --team-no-team: #333;
  --team-red: hsl(348 72% 52%);
  --team-blue: hsl(228 72% 52%);
}

.dark {
  --background: hsl(0, 0%, 5%);
  --foreground: hsl(210 40% 98%);
  --card: hsl(0, 0%, 5%);
  --card-foreground: hsl(210 40% 98%);
  --popover: hsl(0, 0%, 5%);
  --popover-foreground: hsl(210 40% 98%);
  --primary: hsl(217, 100%, 70%);
  --primary-foreground: hsl(222.2 47.4% 11.2%);
  --secondary: hsl(0, 0%, 12%);
  --secondary-foreground: hsl(0, 0%, 71%);
  --muted: hsl(0, 0%, 28%);
  --muted-foreground: hsl(0, 0%, 51%);
  --accent: hsl(0, 0%, 12%);
  --accent-foreground: hsl(0, 0%, 70%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(210 40% 98%);
  --border: hsl(217.2 32.6% 17.5%);
  --input: hsl(217.2 32.6% 17.5%);
  --ring: hsl(217, 100%, 30%);
  --chart-1: hsl(217, 100%, 70%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
    appearance: textfield !important;
  }
}

@layer components {
  .team-container {
    --team-color: var(--team-no-team);
    --team-flex-col-dir: column;
    --team-flex-row-dir: row;

    --score-text-color: color-mix(
      in oklab,
      var(--foreground) 60%,
      var(--team-color) 40%
    );
    --player-propic-mask-dir: 90deg;

    @apply order-1 w-full;

    .team-flex-row {
      flex-direction: var(--team-flex-row-dir);
    }

    .team-flex-col {
      flex-direction: var(--team-flex-col-dir);
    }

    .player-propic {
      mask-image: linear-gradient(
        var(--player-propic-mask-dir),
        rgba(0, 0, 0, 0.4) 0,
        rgba(0, 0, 0, 0.25) 45%,
        transparent
      );
    }

    .performance-group {
      @apply first:ml-auto;

      .performance-item {
        @apply flex flex-col items-start justify-center;

        .label {
          @apply text-xs font-semibold text-(--score-performance-label) opacity-95;
        }

        .value {
          @apply text-base tracking-tighter;

          color: color-mix(
            in oklab,
            var(--foreground) 90%,
            var(--team-color) 10%
          );
        }
      }
    }

    &:not([data-team='NoTeam']) {
      @apply md:w-1/2;
    }

    &[data-team='Red'] {
      --team-color: var(--team-red);

      @apply order-2;

      /* --var(--breakpoint-md) */
      @media (width >= 48rem) {
        @apply pr-0.5;
      }
    }

    &[data-team='Blue'] {
      --team-color: var(--team-blue);

      @apply order-3;

      /* --var(--breakpoint-md) */
      @media (width >= 48rem) {
        --team-flex-col-dir: column-reverse;
        --team-flex-row-dir: row-reverse;
        --player-propic-mask-dir: 270deg;

        @apply flex-row-reverse pl-0.5;

        .player-propic {
          @apply right-0;
        }
      }
    }
  }
}
