.rejectionReasonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  color: hsla(var(--red-400));
  font-size: 0.9rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.icon {
  height: 0.8rem;
  width: 0.8rem;
  fill: hsla(var(--red-400))
}