.userContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 20rem auto;
  grid-template-areas: 'tierImage rankings';
  gap: 1.2rem;
}

.tierImageContainer {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  grid-area: tierImage;
  gap: 1.2rem;
  background-color: hsla(var(--gray-100));
  border-radius: var(--main-borderRadius);
  padding: 1.4rem 1.8rem;
}

.tierImage {
  position: relative;
  /* height: 100%; */
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50vw;
  overflow: hidden;
}

.tierImage img {
  object-fit: contain;
  background: linear-gradient(225deg, #4c94ff 0%, #216bda 100%);
}

.username {
  font-size: 2.7rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-align: left;
}

.rankings {
  width: 100%;
  grid-area: rankings;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 0.5rem;
  background-color: hsla(var(--gray-100));
  border-radius: var(--main-borderRadius);
  padding: 1.4rem 1.8rem;
}

.rankings .header {
  font-size: 3.75rem;
  font-weight: 600;
}

.itemsRow {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem 2rem;
}

.item {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  font-size: 1.15rem;
  gap: 0.2rem;
}

.item .label {
  font-weight: 400;
}

.item .value {
  font-weight: 600;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 4px;
}

/* ICON FOR TREND */

.arrowIcon {
  width: 12px;
}

.positiveTrend {
  color: hsla(var(--green-500));
}

.negativeTrend {
  color: hsla(var(--red-500));
  transform: rotate(-180deg);
}

/* Mobile */
@media (max-width: 700px) {
  .userContainer {
    grid-template-columns: auto;
    grid-template-rows: 200px auto;
    grid-template-areas:
      'tierImage'
      'rankings';
  }

  .tierImage {
    height: 100%;
    width: auto;
    margin: auto;
  }

  .rankings .header {
    font-size: 2.75rem;
    font-weight: 600;
  }
}
