.noDataContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1.1em;
  margin: 3em 0;
}

.noDataImageContainer {
  position: relative;
  height: 8em;
  width: 8em;
  margin: auto;
}

.noDataText {
  font-weight: 500;
  font-size: 4em;
  margin: auto;
  color: hsla(var(--foreground-nodata-hsl));
  user-select: none;
}

[data-theme='dark'] .noDataImageContainer svg {
  fill: white;
}
