.badge {
  width: 1.8em;
  height: 1.8em;
  aspect-ratio: 1;
  font-size: 0.26em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: hsl(var(--badge-provisional-foreground));
  user-select: none;
  position: relative;
  cursor: pointer;
}

.badge img {
  object-fit: cover;
}

.badge:after {
  content: 'Rank is provisional, needs more matches to have an accurate rank calculation';
  width: max-content;
  max-width: 500px;
  display: flex;
  flex-flow: row;
  background-color: hsla(var(--badge-provisional-background), 0.3);
  line-height: 1.2rem;
  backdrop-filter: blur(10px);
  position: absolute;
  left: 2.2rem;
  bottom: -0.3rem;
  font-size: 0.8rem;
  padding: 0.6rem 0.8rem;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
  z-index: 2;
  font-weight: 600;
}

.badge:hover::after {
  visibility: visible;
  opacity: 1;
}
