.container {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: var(--main-padding);
  background-color: hsla(var(--background-content-hsl));
  border-radius: var(--main-borderRadius);
  gap: 1rem;
}

.header {
  display: flex;
  flex-flow: row;
  gap: 2.2rem;
  font-size: 3.4rem;
}

.header .item {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  gap: 0.5rem;
}

.item span {
  font-weight: 600;
  font-size: 3.4rem;
}

.item .text {
  font-size: 1.2rem;
}

.chartLabels {
  font-size: 1.2em;
  display: flex;
  flex-flow: row;
  gap: 1.2em;
  font-weight: 500;
}

.chartLabels .label {
  user-select: none;
  cursor: pointer;
  color: hsla(0, 0%, 60%, 1);
  transition: all 0.2s ease-out;
}

.chartLabels .label:hover {
  color: hsla(0, 0%, 45%, 1);
}

.chartLabels .label.selected {
  color: inherit;
}

.chartLabel svg {
  height: 0.8rem;
}

.userTotalMatches {
  grid-column: 1 / 4;
}
