.collapsible {
  width: 100%;
  background-color: hsla(var(--gray-100));
  padding: var(--main-padding);
  border-radius: var(--main-borderRadius);
  display: flex;
  flex-flow: column;
}

.filters {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 3rem 6rem;
}

.filter {
  display: flex;
  flex-flow: column;
  width: 16vw;
  gap: 1rem;
  flex-grow: 1;
}

.filterName {
  display: flex;
  flex-flow: row;
  gap: 0 0.5rem;
}

.filter h2,
.filterName {
  font-weight: 600;
  font-size: 1.8rem;
}

.buttons {
  display: flex;
  flex-flow: row;
  width: fit-content;
  align-items: center;
  gap: 2.2rem;
  overflow: hidden;
}

.buttons div {
  overflow: hidden;
  width: fit-content;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.2s ease-out;
  box-sizing: border-box;
}

.buttons div:hover {
  color: hsla(var(--gray-700));
  cursor: pointer;
}

.buttons .save {
  background-color: hsla(var(--blue-400));
  padding: 0.8rem 2rem;
  border-radius: 0.4rem;
}

.buttons .save:hover {
  background-color: hsla(var(--blue-500), 0.8);
  color: #fff;
}
