.infoIcon {
  position: relative;
  cursor: pointer;
}

.infoIcon svg {
  padding: 0.2rem;
  box-sizing: border-box !important;
  color: hsla(var(--gray-500), 0.7);
}

.tooltip {
  width: max-content;
  max-width: 500px;
  display: flex;
  flex-flow: row;
  background-color: hsla(var(--gray-400), 0.6);
  line-height: 1.2rem;
  backdrop-filter: blur(10px);
  position: absolute;
  right: 0px;
  bottom: 2.2rem;
  font-size: 0.8rem;
  padding: 0.8rem;
  font-weight: 400;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  z-index: 2;
}

.tooltip.positionBottom {
  bottom: inherit;
  top: 2.2rem;
}

.tooltip.startLeft {
  left: -1rem;
  right: inherit;
}

.infoIcon:hover > .tooltip {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}
