.themeSwitcher {
  position: relative;
  height: 1.85rem;
  width: 1.9rem;
}

.themeSwitcher svg {
  stroke: hsla(var(--foreground-inactive-hsl));
  transition: stroke 0.2s ease-out;
}
.themeSwitcher svg:hover {
  stroke: hsla(var(--foreground-active-hsl));
}
