.modal {
  width: 100dvw;
  height: 100dvh;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5rem 20rem;
}

.container {
  display: flex;
  flex-flow: column;
  gap: var(--main-padding);
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-flow: column;
  gap: var(--internal-gap);
  background-color: hsl(var(--background-content-hsl));
  border-radius: var(--main-borderRadius);
  padding: var(--main-padding);
  height: 100%;
  width: 100%;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  align-items: baseline;
  justify-content: space-between;
}

.header .date {
  width: fit-content;
  margin-right: 0.2em;
}
