.graphContainer {
  width: 100%;
  height: 100%;
  /* background-color: white; */
  border-radius: var(--main-borderRadius);
}

.tooltip {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.2rem;
  color: #fff;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translate(0%, 0);
  transition: all 0.1s ease;
  backdrop-filter: blur(2px);
  min-width: 10em;
}

.tooltip .header {
  width: 100%;
  display: flex;
  flex-flow: row;
  font-weight: 600;
  gap: 0 0.3rem;
  padding: 0.2rem;
  color: hsla(var(--tooltip-color), 0.92);
  cursor: default;
  pointer-events: auto;
}

.tooltip ul {
  gap: 1rem;
  pointer-events: auto;
}

.tooltip li {
  display: flex;
  flex-flow: row;
  gap: 0 0.8rem;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  color: hsla(var(--tooltip-color), 0.8);
  padding: 0.2rem;
}

.tooltip li a:hover {
  color: hsla(var(--tooltip-color));
}

.tooltip_ratingChange {
  font-weight: 600;
  color: #eee;
  display: flex;
  flex-flow: row;
  gap: 0 0.14rem;
  cursor: default;
}

.tooltip_ratingChange.gain {
  color: hsl(var(--tooltip-gain));
}

.tooltip_ratingChange.gain::before {
  content: '▲';
}

.tooltip_ratingChange.loss {
  color: hsl(var(--tooltip-loss));
}

.tooltip_ratingChange.loss::before {
  content: '▼';
}
