.button {
  border-radius: var(--main-borderRadius);
  padding: 0.8vw 2vw;
  font-size: 1.3rem;
  background-color: hsla(var(--gray-100));
  transition: all 0.2s ease-out;
  text-transform: capitalize;
}

.button.selected {
  background-color: hsla(var(--accent-secondary-color));
  color: #ffffff;
  font-weight: 600;
}

.button:not(.selected):hover {
  background-color: hsla(var(--gray-200));
  color: hsla(var(--gray-900));
  cursor: pointer;
}
