.container {
  display: flex;
  flex-flow: column;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  align-items: baseline;
  justify-content: space-between;
}

.header .title {
  display: flex;
  flex-flow: row;
  gap: calc(var(--internal-gap) / 2);
  align-items: baseline;
}

.title svg {
  height: 1rem;
  width: 1rem;
  fill: hsla(var(--foreground-hsl));
  transition: all 0.2s ease-out;

  &:hover {
    fill-opacity: 0.8;
  }

  &.editIcon {
    cursor: pointer;
  }
}

.header .timeDisplay {
  display: flex;
  flex-flow: row;
  gap: var(--internal-gap);
}

.timeDisplay .date {
  width: fit-content;
  margin-right: 0.2em;
}

.subHeader {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  gap: 0.3rem;

  .tournamentLink {
    transition: all 0.2s ease-out;

    &:hover {
      fill-opacity: 0.8;
    }
  }
}