.expandedRow {
  border-radius: 0.4rem;
  align-items: center;
  font-size: 1rem;
  padding: 1.2rem 2rem;
  background-color: hsla(var(--background-content-childs-hsl));
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  align-items: baseline;
  justify-content: space-between;
}

.header .date {
  width: fit-content;
}
