.userContainer {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(auto, 2);
  grid-template-areas:
    'header'
    'rankings';
  background-color: hsla(var(--gray-100));
  border-radius: var(--main-borderRadius);
  padding: 1.4rem 1.8rem;
  gap: 1.2rem;
}

.header {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  grid-area: header;
  gap: 1.2rem;
}

.propic {
  position: relative;
  height: 4.3rem;
  width: 4.3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}

.propic img {
  object-fit: contain;
}

.username {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-align: left;
}

.rankings {
  width: 100%;
  grid-area: rankings;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.item {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  font-size: 1.22rem;
  gap: 0.2rem;
}

.item .label {
  font-weight: 400;
}

.item .value {
  font-weight: 600;
}
