.expandedRow {
  border-radius: 0.4rem;
  align-items: center;
  font-size: 1rem;
  background-color: hsla(var(--background-content-childs-hsl));
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  align-items: baseline;
  justify-content: space-between;
  cursor: pointer;
  padding: 1.2rem 2rem;
  transition: background-color 0.2s ease-out;
  border-radius: 0.4rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.header .date {
  width: fit-content;
}

.content {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 0 2rem 1.2rem;
  gap: 1.5rem;
}

.matchesList {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.6rem;
}

[data-theme='dark'] .header:hover {
  background-color: rgba(255, 255, 255, 0.04);
}
