.enumContainer {
  --direction: row;

  display: flex;
  flex-direction: var(--direction);
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 2;

  .icon {
    height: 0.8rem;
    width: 0.8rem;
  }

  .individualItem {
    cursor: pointer;
    user-select: none;
  }

  &.processingStatus {
    color: hsla(var(--gray-400));

    .icon {
      fill: hsla(var(--gray-400));
    }
  }

  &.rejectionReason {
    color: hsla(var(--red-400));

    .icon {
      fill: hsla(var(--red-400));
    }
  }

  &.warningFlag {
    color: hsla(var(--yellow-400));

    .icon {
      fill: hsla(var(--yellow-400));
    }
  }

  &.reverse {
    --direction: row-reverse;
  }

  &.hoverable {
    & .individualItem {
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s ease-out;
    }

    &:not(.reverse) .individualItem {
      left: -0.5rem;
      right: auto;
    }

    &:not(.reverse):hover .individualItem {
      left: 0rem;
      right: auto;
      opacity: 1;
      visibility: visible;
    }

    &.reverse .individualItem {
      right: -0.5rem;
      left: auto;
    }

    &.reverse:hover .individualItem {
      right: 0rem;
      left: auto;
      opacity: 1;
      visibility: visible;
    }
  }
}
